<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <button type="button"><a href="home">HOME</a></button>
    </nav>
    <div class="heading">
        <h1>About Us</h1>
        <p>Finance Premium Tools is an application which allow the users to calculate various financial calculations like Mutual Fund calculators Public Provident fund etc.
        </p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/static/Images/IMAGE1.jpg">
            </div>
            <div class="about-content">
                <h2>Finace Premium Tool</h2>
               <h3><p>Life Insurance</p></h3>
                     <p>Plans</p><br>
                        <h3><p>Jeevan Labh</p></h3>
                            Jeevan Labh is a popular life insurance policy offered by the Life Insurance Corporation of India (LIC). It is a non-linked, with-profits, limited premium payment policy that provides life insurance coverage and savings benefits.<br>

                          <h3><p> Jeevan Umang</p></h3>
                            Jeevan Umang is a non-linked, with-profits, whole life insurance policy offered by the Life Insurance Corporation of India (LIC). It is designed to provide life insurance coverage and regular income benefits to the policyholder for their entire lifetime<br>

                          <h3><p>Bonus Calculator</p></h3>
                            A bonus calculator is a tool used to calculate bonuses that employees may receive based on various factors, such as company profits, individual performance, and other criteria.
                            
                        <h3><p>Agent Gratuity calculator</p></h3>
                            An agent gratuity calculator is a tool that helps calculate the gratuity amount for insurance agents or intermediaries who have completed a certain number of years of service with an insurance company</p><br><br>

                        <h3><p>Mutual Fund</p></h3>
                        <p>Equity Fund</p>
                        An equity fund is a type of mutual fund that primarily invests in stocks or shares of companies listed on the stock exchange. The objective of an equity fund is to provide capital appreciation to its investors by investing in stocks of companies with growth potential.

                        <h3><p>Debt Fund</p></h3> 
                        A debt fund is a type of mutual fund that invests primarily in fixed income securities such as bonds, treasury bills, and other debt securities.<br><br>
                
                        <h3><p>Public Provident Fund</p></h3>
                        Public Provident Fund (PPF) account is one of the most popular long term investment options for individuals with low-risk appetite as both the money in the PPF account and the returns it generates are guaranteed<br><br>

                        <h3><p>Pension</p></h3>
                        <h3><p>Basic Pension</p></h3>
                        Basic State Pension is the basic version of the State 	Pension scheme. What this means is that it is the old version of the 	scheme.

                        <h3><p>Family Pension</p></h3>
                        a regular monthly amount payable by the employer to a person 	belonging to the family of an employee in the event of death.<br><br>

                        <h3><p>Bank</p></h3>
                        <h3><p>Personal Loan EMI Calculator</p></h3>
                        A personal loan EMI calculator is a simulation that helps you to calculate the EMI amount depending on the principal amount, duration, and the rate of interest
                        <h3><p>Home loan EMI Calculator</p></h3>
                        A Home Loan EMI Calculator is an online calculator that you 	calculate your monthly loan instalment amount with ease.<br><br>
            
                        <h3><p>Stock</p></h3>
                        <h3><p>Brokarage Calculator</p></h3>
                        The brokerage calculator tool that is used to calculate the of brokerage before the investment is made. This is crucial so that we know what the actual returns will be once this amount is subtracted from it.
                        <h3><p>Return On Investment Calculator</p></h3>
                        The ROI calculator is a simulation that helps you gauge the profitability of your investments. You may use the ROI calculator to determine the return from investments across various periods.
            </p>
            </div>
        </section>
    </div>
</body>
</html>