<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/help.css">
    <title>Document</title>
</head>
<body>
    <div class="heading">
        
        <h1>HELP</h1>
        
    </div>
    <div class="container">
        <section class="about">
            
            <div class="about-content">
                <div class="aaa"><a href="home" alligh="left">HOME</a></div>
                <h2>Finace Premium Tool</h2><br>
                <h2>Procedures:</h2>
               <h3><p>Life Insurance</p></h3><br>
               <h3><p>Plans</p></h3>
               <h3><p>Jeevan Labh</p></h3>
               <p>step 1: add premium Amount<br>
                
                step 2:add policy teram(in years)<br>
                step 3:add sum assured pensionAmount<br>
                step 4: calculate<br><br>
                <h3>Formula</h3>
                premium_amount_m = sum_assured * premium_rate / 100 <br>
                premium_amount=premium_amount_m*12 <br>
                premium_amount=premium_amount+premium_amount*0.024375 <br>
                maturity_amount = (premium_amount*py) + (premium_amount * policy_term)
                <br><br>
             </p>
               <h3><p>Jeevan Umang</p></h3><br>
               <p>step 1:Add premium Amount<br>
                step 2:add policy paying term <br>
                step 3:Add policy term<br>
                step 4:Add age<br>
                step 5: calculate<br><br>
                <h3>Formula</h3>
                maturity_amount = sum_assured + (sum_assured * bonus_rate / 100) <br>
    maturity_amount += (survival_benefit_rate / 100) * maturity_amount <br>
    maturity_amount -= (premium_rate * premium_payment_term) <br>
    maturity_amount += (premium_rate * (policy_term - premium_payment_term))

                <br><br>
             </p>
               <h3><p>Bonus calculator</p></h3><br>
               <p>step 1:Add salary <br>
                step 2:Add Bonus Percentage<br>
                step 3: calculate<br><br>
                <h3>Formula</h3>
                bonus = (salary * percentage) / 100;<br>
               <h3><p>Agent Gratuity Calcultor</p></h3><br>
               <p>step 1:Add Year of service <br>
                step 2: Add Salary<br>
                step 3: calculate<br><br>
                <h3>Formula</h3>
                gratuity = (salary * years) / 2;<br><br>
               <h3><p>Mutual Fund</p></h3><br>
               <h3><p>Equity Fund</p></h3><br>
               <p>step 1:Add Investment amount <br>
                step 2:Add Rate of return<br>
                step 3:Add Investment period<br>
                step 4: calculate<br><br>
                <h3>Formula</h3>
               <p>maturityAmount = investmentAmount * pow(1 + (interestRate / 100), investmentPeriod)</p><br>
               <h3><p>Debt Fund</p></h3><br>
               <p>step 1:Add initial invesrtment <br>
                step 2:Add intrest rate<br>
                step 3:Addinvestmnet Duration<br>
                step 4: calculate<br><br>
                <h3>Formula</h3>
               <p>maturityAmount = investmentAmount * pow(1 + (interestRate / 100), investmentPeriod)</p><br><br>
               <h3><p>Post Office PPF</p></h3><br>
               <p>step 1:Add yaerly investment<br>
                step 2:add time period<br>
                
                step 3: calculate<br><br>
                <h3>Formula</h3>
               <p> Investmentamount=p*i <br>
                TotaInterest=p*(i)*n*12 <br>
                MaturityValue=TotaInterest+Investmentamount</p><br><br>
               <h3><p>Pension</p></h3><br>
               <h3><p>Basic pension</p></h3><br>
               <p>step 1: Enter Average Salary<br>
                step 2:Enter the number of years worked<br>
                step 3: calculate<br><br>
                <h3>Formula</h3>
               <p>pensionAmount = salary * years * 0.02</p><br>
               <h3><p>Family Pension</p></h3><br>
               <p>step 1:Enter Average Salary of Employee <br>
                step 2: Add Pesion Rate<br>
                step 3: calculate<br><br>
               <p>familyPensionAmount = pensionAmount * (numDependents * 0.01)</p><br><br>
               <h3><p>Bank</p></h3><br>
               <h3><p>Personal Loan Calcuktor</p></h3><br>
               <p>step 1:add loan amount <br>
                step 2: add interestRate<br>
                step 3:add Tenure<br>
                step 4: calculate<br><br>
                <h3>Formula</h3>
               <p>r1=ai1/(12*100) <br>
                e1=p1*r1*((1+r1)**n1)/((1+r1)**n1-1) <br>
                ans2=(e1*n1)-p1 <br>
                ans3=ans2+p1</p><br>
               <h3><p>Home Loan Calcuktor</p></h3><br>
               <p>step 1:Add loan amount<br>
                step 2:add interest-rate<br>
                step 3:add Tenure<br>
                step 4:calculate<br><br>
                <h3>Formula</h3>
               <p>r=ai/(12*100) <br>
                e=p*r*((1+r)**n)/((1+r)**n-1) <br>
                ans2=(e1*n1)-p1 <br>
                ans3=ans2+p1
               </p><br>
                <h3><p>Stock</p></h3><br>
                <h3><p>Brokarage Calculator</p></h3><br>
                <p>step 1: add number of shares <br>
                    step 2:add buying price<br>
                    step 3:add selling price<br>
                    step 4: calculate<br><br>
                    <h3>Formula</h3>
               <p>
                br=((ss1*by1)+(ss1*sl1)) <br>
                an2=br*0.05
                </p><br>
               <h3><p> return On Investment(ROI) calculator</p></h3><br>
               <p>step 1:Add Amount investment <br>
                step 2:add Amount Return<br>
                step 3: calculate<br><br>
                <h3>Formula</h3>
               <p>ans1=amtre-amtin <br>
                ans2=((amtre-amtin)/amtin)*(100)</p><br>
            </div>
        </section>      
    </div>
</body>
</html>